__pycache__/
*.pyc
*.log
.gemini/
tools/
.cache/
logs/
*.zip
*.rar
*.7z
.env
config/secrets.json
.venv/
.venv/
bin/
ContextUp_Backup.zip
*.mp4
history_*.png
history_*.png
**/.cache/
example/
*.pth
config/copy_my_info.json