# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Project specific
Output/
backups/
# Project specific
Output/
backups/
*.log
example/


# Large Tools (Binaries & Environments)
tools/python/
tools/blender/
tools/ffmpeg/
tools/realesrgan/
tools/exiftool/
tools/ImageMagick/
tools/Mayo/
libs/

# AI Models & Weights (Heavy files)
*.pth
*.onnx
*.safetensors
*.bin
*.pt
*.ckpt

# Temporary & User Data
Output/
backups/
*.log
.venv_translator/
bin/



