# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Project specific
Output/
backups/
# Project specific
Output/
backups/
*.log
example/


# Large Tools (Re-downloadable via setup scripts)
tools/python/
tools/blender/
tools/ffmpeg/
tools/realesrgan/
tools/exiftool/
tools/ImageMagick/
tools/Mayo/

